<div class="ui container">

  <sui-accordion [closeOthers]="false">

    <!---------------------- Inicio Collapse de Ponto de Presença     ------------------------------------>
    <sui-accordion-panel>

      <div title>
        <div class="ui big label">
          <i class="dropdown icon"></i> <span class="titleDel">Ponto de Presença</span>
        </div>
      </div>
      <div content>
        <div class="ui grid">
          <div class="twelve wide column">
            <h4 class="ui header">Estabelecimento:</h4> PONTO DE CULTURA TI ICANA ALDEIA ASSUNCAO DO ICANA OCIDAI ORGANIZACAO DAS COMUNIDADES INDIGENAS
            DO DISTRITO DE ASSUNCAO DO ICANA</div>
          <div class="four wide column">
            <h4 class="ui header">Município-Uf:</h4> Vila Bela da Santíssima Trindade - MG</div>
          <div class="four wide column">
            <h4 class="ui header">Status:</h4> Teste</div>
          <div class="four wide column">
            <h4 class="ui header">Cod. Gesac:</h4> Teste</div>
          <div class="four wide column">
            <h4 class="ui header">Cod. Pid:</h4> Teste</div>
          <div class="four wide column">
            <h4 class="ui header">Cod. Inep: </h4>Teste</div>
          <div class="four wide column">
            <h4 class="ui header">Empresa:</h4> teste</div>
          <div class="four wide column">
            <h4 class="ui header">Contrato:</h4> teste</div>
          <div class="four wide column">
            <h4 class="ui header">Lote:</h4> Teste</div>
          <div class="four wide column">
            <h4 class="ui header">Velocidade:</h4> Teste</div>
          <div class="eight wide column">
            <h4 class="ui header">Instituição Responsavel:</h4> Teste</div>
          <div class="eight wide column">
            <h4 class="ui header">Instituição Pagadora:</h4> Teste</div>
        </div>
      </div>

    </sui-accordion-panel>
    <!---------------------- Fim Collapse de Ponto de Presença     ------------------------------------>

    <!---------------------- Inicio Collapse de Endereço     ------------------------------------>
    <sui-accordion-panel>

      <div title>
        <div class="ui big label">
          <i class="dropdown icon"></i>  <span class="titleDel">Endereço</span>
        </div>
      </div>

      <div content>
        <div class="ui grid">

          <div class="fourteen wide column">
            <h4 class="ui header">Endereço:</h4> ACESSO TO 130, DESTINO A PINDORAMA, ACESSO A DIREITA 15 KM DA SEDE DO MUNICIPIO DE PONTE ALTA,
            NA, DA MAIS 17 KM SEMPRE A DIRETA ESCOLA DO DISTRITO DO GATO E MORRO LIMPO ZONA RURAL, FAZENDA AFIRMATIVA SENTIDO
            CIDADE DE PINDORAMA </div>

          <div class="two wide column">
            <h4 class="ui header">Nº:</h4> Lote 5000</div>

          <div class="four wide column">
            <h4 class="ui header">Bairro:</h4> CENTRO ESTANCIA TURISTICA DE SALTO NO CENTRO DE EDUCACAO MUNICIPAL DE SALTO IV</div>

          <div class="twelve wide column">
            <h4 class="ui header">Complemento:</h4> COMO CHEGAR LA SAO 12 HORAS DE VIAGEM DE SAO GABRIEL DA CACHOEIRA ATE IAUARETE DE SGC, SUBINDO
            PELO RIO NEGRO, PASSA 40 MIN ENTRA NO RIO AUAPES, A ESQUERDA PROXIMO A COMUNIDADE ILHA DAS FLORES CONTINUA SUBINDO
            ATE A ENTRADA DO RIO TIQUIE, AONDE ESTAMOS UM POUCO ABAIXO DA COMUNIDADE TARACUA SOBE O RIO TIQUIE, PASSA VARIAS
            COMUNIDADES PEQUENAS E A COMUNIDADE DE PARI CACHOEIRA E UMA DAS ULTIMAS E TAMBEM UMA DAS MAIORES COMUNIDADES
          </div>
          <div class="two wide column">
            <h4 class="ui header">Cep</h4> Teste</div>
          <div class="two wide column">
            <h4 class="ui header">Área:</h4> Teste</div>
          <div class="four wide column">
            <h4 class="ui header">Latitude: </h4>Teste</div>
          <div class="four wide column">
            <h4 class="ui header">Longitude:</h4> Teste</div>
          <div class="two wide column">
            <h4 class="ui header">Data:</h4> Teste</div>
        </div>
      </div>

    </sui-accordion-panel>

    <!---------------------- Fim Collapse de Endereço     ------------------------------------>

    <!---------------------- Inicio Collapse de Tipologia     ------------------------------------>
    <sui-accordion-panel>

      <div title>
        <div class="ui big label">
          <i class="dropdown icon"></i>  <span class="titleDel">Tipologia</span>
        </div>
      </div>

      <div content>
        <div class="ui grid">
          <div class="four wide column">
            <h4 class="ui header">Escola</h4>
          </div>
          <div class="four wide column">
            <h4 class="ui header">Quilombola</h4>
          </div>
          <div class="four wide column">
            <h4 class="ui header">Biblioteca</h4>
          </div>
          <div class="four wide column">
            <h4 class="ui header">Indígena</h4>
          </div>
          <div class="four wide column">
            <h4 class="ui header">Bla Bla Bla</h4>
          </div>
          <div class="four wide column">
            <h4 class="ui header">Ti ti ti </h4>
          </div>
          <div class="four wide column">
            <h4 class="ui header">Pesca</h4>
          </div>
          <div class="four wide column">
            <h4 class="ui header">Escola</h4>
          </div>
          <div class="four wide column">
            <h4 class="ui header">Sei lá</h4>
          </div>
          <div class="four wide column">
            <h4 class="ui header">tipologia</h4>
          </div>
          <div class="four wide column">
            <h4 class="ui header">Tipologia</h4>
          </div>
          <div class="four wide column">
            <h4 class="ui header">Coisa</h4>
          </div>
        </div>
      </div>

    </sui-accordion-panel>
    <!---------------------- Fim Collapse de Tipologia     ------------------------------------>

    <!---------------------- Inicio Collapse de Contato     ------------------------------------>

    <sui-accordion-panel>

      <div title>
        <div class="ui big label">
          <i class="dropdown icon"></i>  <span class="titleDel">Contato</span>
        </div>
      </div>

      <div content>

        <table class="ui single line table">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Cargo</th>
              <th>Tipo Telefone</th>
              <th>Telefone</th>
              <th>E-mail</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Jimmy</td>
              <td></td>
              <td>Jimmy</td>
              <td>Jimmy</td>
              <td>Jimmy</td>
            </tr>
          </tbody>
        </table>



        <!--<div class="ui grid">
          <div class="eight wide column">
            <h4 class="ui header">Nome:</h4> teste</div>
          <div class="eight wide column">
            <h4 class="ui header">Cargo:</h4> Teste</div>
          <div class="four wide column">
            <h4 class="ui header">E-mail:</h4> Teste</div>
          <div class="four wide column">
            <h4 class="ui header">Tipp de Telefone:</h4> Teste</div>
          <div class="four wide column">
            <h4 class="ui header">Telefone:</h4> Teste</div>
        </div>-->
      </div>

    </sui-accordion-panel>
    <!---------------------- Fim Collapse de Contato     ------------------------------------>

    <!---------------------- Inicio Collapse de Analisar     ------------------------------------>
    <sui-accordion-panel>

      <div title>
        <div class="ui big label">
          <i class="dropdown icon"></i>  <span class="titleDel">Analisar</span>
        </div>
      </div>

      <div content>

        <form class="ui form">

          <div class="ui stackable four column grid">
            <div class="column">
              <label>Número do doc. ofício</label>
              <input name="num.of" placeholder="Número do ofício" type="text">
            </div>

            <div class="column">
              <label>Número do doc. Sei</label>
              <input name="num.sei" placeholder="Número do ofício" type="text">
            </div>

            <div class="column">
              <label>Data do Ofício </label>
              <div class="field">
                <div class="ui left icon input">
                  <i class="calendar icon"></i>
                  <input suiDatepicker [pickerMode]="'date'" [pickerFirstDayOfWeek]="firstDayOfWeek" [pickerUseNativeOnMobile]="false">
                </div>
              </div>
            </div>

            <div class="column">
              <label>Data de Instalação</label>
              <div class="field">
                <div class="ui left icon input">
                  <i class="calendar icon"></i>
                  <input suiDatepicker [pickerMode]="'date'" [pickerFirstDayOfWeek]="firstDayOfWeek" [pickerUseNativeOnMobile]="false">
                </div>
              </div>
            </div>

          </div>



          <div class="ui  grid">
            <div class="seven wide column">
              <label>Empresa </label>
              <input name="empresa" placeholder="Empresa" type="text">
            </div>

            <div class="four wide column">
              <label>Teste Vazão</label>
              <input name="tes.vaz" placeholder="Teste Vazão" type="text">
            </div>

            <div class="three wide column centered row">
              <label>TIPP</label>
              <div class="field">
                Sim
                <sui-radio-button name="radio" value="sim" [(ngModel)]="eRadio"></sui-radio-button>
                Não
                <sui-radio-button value="nao" name="radio"></sui-radio-button>
              </div>
            </div>

          </div>



          <div class="ui stackable five column grid">

            <div class="column">
              <label>Estabelecimento está correto?</label>
              <div class="field">
                Sim
                <sui-radio-button name="radio" value="sim" [(ngModel)]="eRadio"></sui-radio-button>
                Não
                <sui-radio-button value="nao" name="radio"></sui-radio-button>
              </div>
            </div>

            <div class="column">
              <label>Endereço está correto?</label>
              <div class="field">
                Sim
                <sui-radio-button name="radio" value="sim" [(ngModel)]="eRadio"></sui-radio-button>
                Não
                <sui-radio-button value="nao" name="radio"></sui-radio-button>
              </div>
            </div>

            <div class="column">
              <label>Responsável técnico?</label>
              <div class="field">
                Sim
                <sui-radio-button name="radio" value="sim" [(ngModel)]="eRadio"></sui-radio-button>
                Não
                <sui-radio-button value="nao" name="radio"></sui-radio-button>
              </div>
            </div>

            <div class="column">
              <label>As fotos estão de acordo?</label>
              <div class="field">
                Sim
                <sui-radio-button name="radio" value="sim" [(ngModel)]="eRadio"></sui-radio-button>
                Não
                <sui-radio-button value="nao" name="radio"></sui-radio-button>
              </div>
            </div>

            <div class="column">
              <label>Acessando Internet?</label>
              <div class="field">
                Sim
                <sui-radio-button name="radio" value="sim" [(ngModel)]="eRadio"></sui-radio-button>
                Não
                <sui-radio-button value="nao" name="radio"></sui-radio-button>
              </div>
            </div>

          </div>



          <div class="ui grid">

            <div class="eight wide column">
              <label>Nome responsável assinatura</label>
              <input name="nome.resp.ass" placeholder="Nome responsável assinatura" type="text">
            </div>

            <div class="four wide column centered row">
              <label>Responsável Assinatura</label>
              <div class="field">
                Sim
                <sui-radio-button name="radio" value="sim" [(ngModel)]="eRadio"></sui-radio-button>
                Não
                <sui-radio-button value="nao" name="radio"></sui-radio-button>
              </div>
            </div>
          </div>







          <div class="ui stackable three column grid">


            <div class="column">
              <label>Telefone</label>
              <input name="telefone" placeholder="Telefone" type="text">
            </div>

            <div class="column">
              <label>Telefone do responsável pela assinatura</label>
              <input name="telefone" placeholder="Telefone" type="text">
            </div>

            <div class="column">
              <label>Email do responsável pela assinatura</label>
              <input name="email" placeholder="E-mail" type="text">
            </div>


          </div>



          <div class="ui stackable four column grid">
            <div class="column">
              <label>Latitude</label>
              <input name="latitude" placeholder="Latitude" type="text">
            </div>

            <div class="column">
              <label>Longitude</label>
              <input name="longitude" placeholder="Longitude" type="text">
            </div>
          </div>



          <div class="ui stackable one column grid">

            <div class="column">
              <label>Obeservação</label>
              <textarea name="observacao" placeholder="Observação" style="margin-top: 0px; margin-bottom: 0px; height: 112px;">
                  </textarea>
            </div>

          </div>


        </form>


        <div class="ui grid">
          <div class="two wide column">
            <button class="ui blue icon button"> Aceitar</button>
          </div>

          <div class="two wide column">
            <button class="ui red button" (click)="justModal()"> Rejeitar</button>
          </div>

        </div>


      </div>
    </sui-accordion-panel>
    <!---------------------- Fim Collapse de Analisar     ------------------------------------>

    <!---------------------- Inicio Collapse de Historico     ------------------------------------>
    <sui-accordion-panel [isOpen]="true">

      <div title>
        <div class="ui big label">
          <i class="dropdown icon"></i>  <span class="titleDel">Historico de Ações</span>
        </div>
      </div>


      <div content>
        <table class="ui selectable table">
          <thead>
            <tr>
              <th>Ação</th>
              <th>Data</th>
              <th>Usuário</th>
              <th>Visualizar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let historicoAcao of historicoAcoes">
              <td>{{historicoAcao.acao}}</td>
              <td>{{historicoAcao.data}}</td>
              <td>{{historicoAcao.usuario}}</td>
              <td>
                <a class="ui icon button circular" (click)="openModal(historicoAcao.acao)" suiPopup popupHeader="Visualizar" popupInverted="true">
              <i class="search icon"></i>
            </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </sui-accordion-panel>
    <!---------------------- Fim Collapse de Historico     ------------------------------------>


  </sui-accordion>

  </div>

  <sui-modal *ngIf="abrirNodal" [isClosable]="false" [transition]="'scale'" [transitionDuration]="500" #modal>

    <div class="header">
      <div class="ui grid">
        <div class="fifteen wide column">
          {{condicao}}
        </div>
        <div class="one wide column">
          <i class="close red link icon" (click)="closeModal(false)"></i>
        </div>
      </div>

    </div>

    <div class="content" [ngSwitch]="condicao">

      <div *ngSwitchCase="'Analise'">


        <form class="ui form">

          <div class="ui stackable four column grid">
            <div class="column">
              <label>Número do doc. ofício</label>
              <input name="num.of" placeholder="Número do ofício" type="text">
            </div>

            <div class="column">
              <label>Número do doc. Sei</label>
              <input name="num.sei" placeholder="Número do ofício" type="text">
            </div>

            <div class="column">
              <label>Data do Ofício </label>
              <div class="field">
                <div class="ui left icon input">
                  <i class="calendar icon"></i>
                  <input suiDatepicker [pickerMode]="'date'" [pickerFirstDayOfWeek]="firstDayOfWeek" [pickerUseNativeOnMobile]="false">
                </div>
              </div>
            </div>

            <div class="column">
              <label>Data de Instalação</label>
              <div class="field">
                <div class="ui left icon input">
                  <i class="calendar icon"></i>
                  <input suiDatepicker [pickerMode]="'date'" [pickerFirstDayOfWeek]="firstDayOfWeek" [pickerUseNativeOnMobile]="false">
                </div>
              </div>
            </div>

          </div>



          <div class="ui  grid">
            <div class="seven wide column">
              <label>Empresa </label>
              <input name="empresa" placeholder="Empresa" type="text">
            </div>

            <div class="four wide column">
              <label>Teste Vazão</label>
              <input name="tes.vaz" placeholder="Teste Vazão" type="text">
            </div>

            <div class="three wide column centered row">
              <label>TIPP</label>
              <div class="field">
                Sim
                <sui-radio-button name="radio" value="sim" [(ngModel)]="eRadio"></sui-radio-button>
                Não
                <sui-radio-button value="nao" name="radio"></sui-radio-button>
              </div>
            </div>

          </div>



          <div class="ui stackable five column grid">

            <div class="column">
              <label>Estabelecimento está correto?</label>
              <div class="field">
                Sim
                <sui-radio-button name="radio" value="sim" [(ngModel)]="eRadio"></sui-radio-button>
                Não
                <sui-radio-button value="nao" name="radio"></sui-radio-button>
              </div>
            </div>

            <div class="column">
              <label>Endereço está correto?</label>
              <div class="field">
                Sim
                <sui-radio-button name="radio" value="sim" [(ngModel)]="eRadio"></sui-radio-button>
                Não
                <sui-radio-button value="nao" name="radio"></sui-radio-button>
              </div>
            </div>

            <div class="column">
              <label>Responsável técnico?</label>
              <div class="field">
                Sim
                <sui-radio-button name="radio" value="sim" [(ngModel)]="eRadio"></sui-radio-button>
                Não
                <sui-radio-button value="nao" name="radio"></sui-radio-button>
              </div>
            </div>

            <div class="column">
              <label>As fotos estão de acordo?</label>
              <div class="field">
                Sim
                <sui-radio-button name="radio" value="sim" [(ngModel)]="eRadio"></sui-radio-button>
                Não
                <sui-radio-button value="nao" name="radio"></sui-radio-button>
              </div>
            </div>

            <div class="column">
              <label>Acessando Internet?</label>
              <div class="field">
                Sim
                <sui-radio-button name="radio" value="sim" [(ngModel)]="eRadio"></sui-radio-button>
                Não
                <sui-radio-button value="nao" name="radio"></sui-radio-button>
              </div>
            </div>

          </div>



          <div class="ui grid">

            <div class="eight wide column">
              <label>Nome responsável assinatura</label>
              <input name="nome.resp.ass" placeholder="Nome responsável assinatura" type="text">
            </div>

            <div class="four wide column centered row">
              <label>Responsável Assinatura</label>
              <div class="field">
                Sim
                <sui-radio-button name="radio" value="sim" [(ngModel)]="eRadio"></sui-radio-button>
                Não
                <sui-radio-button value="nao" name="radio"></sui-radio-button>
              </div>
            </div>
          </div>







          <div class="ui stackable three column grid">


            <div class="column">
              <label>Telefone</label>
              <input name="telefone" placeholder="Telefone" type="text">
            </div>

            <div class="column">
              <label>Telefone do responsável pela assinatura</label>
              <input name="telefone" placeholder="Telefone" type="text">
            </div>

            <div class="column">
              <label>Email do responsável pela assinatura</label>
              <input name="email" placeholder="E-mail" type="text">
            </div>


          </div>



          <div class="ui stackable four column grid">
            <div class="column">
              <label>Latitude</label>
              <input name="latitude" placeholder="Latitude" type="text">
            </div>

            <div class="column">
              <label>Longitude</label>
              <input name="longitude" placeholder="Longitude" type="text">
            </div>
          </div>



          <div class="ui stackable one column grid">

            <div class="column">
              <label>Obeservação</label>
              <textarea name="observacao" placeholder="Observação" style="margin-top: 0px; margin-bottom: 0px; height: 112px;">
                  </textarea>
            </div>

          </div>


        </form>

      </div>
      <div *ngSwitchCase="'Interacao'">
        Interacao
      </div>
      <div *ngSwitchCase="'Solicitacao'">
        Solicitacao
      </div>
      <!--<p *ngSwitchDefault>
    
    </p>-->
    </div>

    <div class="actions">
      <button class="ui red button" (click)="closeModal(false)">Fechar</button>
    </div>
  </sui-modal>
