<div class="ui container">
  <sui-tabset>
    <!-- Tabs Menu -->
    <div class="ui top attached tabular menu">
      <a class="item" suiTabHeader="1" [(isActive)]="empresas">Empresa</a>
      <a class="item" suiTabHeader="2" [(isActive)]="contatos">Contato</a>
    </div>
    <!-- Fim Tabs Menu -->

    <!-- Tabs Empresa -->
    <div class="ui bottom attached segment" suiTabContent="1">
      <form class="ui form" #fAddEmpresa="ngForm" (ngSubmit)="salvarEmpresa(fAddEmpresa, radio)">
        <div class="field">
            <div class="fields">
              <div class="three wide field">
                <label>CNPJ</label>
                <input type="text" mask="00.000.000/0000-00" minlength="14" name="cnpj_empresa" placeholder="CNPJ" [(ngModel)]="empresa.cnpj_empresa" required [readonly]="editCnpj">
              </div>
              <div class="four wide field">
                <label>Nome da empresa</label>
                <input type="text" name="empresa" placeholder="Nome da empresa" [(ngModel)]="empresa.empresa" required>
              </div>
              <div class="seven wide field">
                <label>Endereço</label>
                <input type="text" name="endereco" placeholder="Endereço" [(ngModel)]="empresa.endereco" required>
              </div>
              <div class="two wide field">
                <label>N°</label>
                <input type="text" name="numero" placeholder="N°" [(ngModel)]="empresa.numero" required>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="fields">
                    <div class="four wide field">
                      <label>Bairro</label>
                      <input type="text" name="bairro" placeholder="Bairro" [(ngModel)]="empresa.bairro" required>
                    </div>
              <div class="four wide field">
                <label>Complemento</label>
                <input type="text" name="complemento" placeholder="Complemento" [(ngModel)]="empresa.complemento" required>
              </div>
              <div class="two wide field">
                <label>Cep</label>
                <input type="text" mask="00.000-000" name="cep" placeholder="Cep" [(ngModel)]="empresa.cep" minlength="8" required>
              </div>
              <div class="three wide field">
                <label>Estado</label>
                <select class="ui fluid dropdown" [(ngModel)]="empresa.uf" name="estado" (change)="selectEstado(empresa.uf)">
                  <option value="">Selecione o estado</option>
                  <option *ngFor="let uf of ufs" value="{{uf.uf}}">{{uf.uf}}</option>
                </select>
              </div>
              <div class="three wide field">
                <label>Município</label>
                <select class="ui fluid dropdown" name="cod_ibge" [(ngModel)]="empresa.cod_ibge" required>
                    <option value="">Selecione o município</option>
                    <option *ngFor="let municipio of municipios" value="{{municipio.cod_ibge}}">{{municipio.nome_municipio}}</option>
                  </select>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="fields">
              <div class="four wide field">
                <label>Esta empresa é um consórcio?</label>
                <sui-radio-button name="radio" value="sim" [(ngModel)]="radio" (ngModelChange)="radioConsorcio(radio)" required [isDisabled]="desabilitarRadio">Sim</sui-radio-button>
                <sui-radio-button name="radio" value="nao" [(ngModel)]="radio" (ngModelChange)="radioConsorcio(radio)" required [isDisabled]="desabilitarRadio">Não</sui-radio-button>
              </div>
              <div class="six wide field" [hidden]="!consorcio">
                <label>Empresa pai</label>
                <select class="ui fluid dropdown" name="cnpj_empresa_pai" [(ngModel)]="empresa.cnpj_empresa_pai" required>
                    <option value="">Selecione a empresa pai</option>
                    <option *ngFor="let emp of empresasPai" value="{{emp.cnpj_empresa}}">{{emp.empresa}}</option>
                  </select>
              </div>
            </div>
          </div>
        <div class="field">
          <div class="fields">
            <div class="sixteen wide field">
              <button class="ui right labeled icon button right floated" type="submit" [disabled]="fAddEmpresa.invalid">
                <i class="angle double right icon"></i>
                Próximo
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- Fim Tabs Empresa -->

    <!-- Tabs Contato -->
    <div class="ui bottom attached segment" suiTabContent="2">
        <app-contato></app-contato>
        <div class="ui stackable one column grid">
          <div class="column">
            <button class="ui left floated labeled icon button" (click)="voltarEmpresa()">
              <i class="angle double left icon"></i> Voltar</button>
          </div>
        </div>
      </div>
      <!-- Fim Tabs Contato -->
  </sui-tabset>
</div>
